html {
    user-select: none;
}

html,
body,
section,
footer {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.bi-dash-circle-fill {
    color: crimson;
}

.bi-youtube {
    color: #dc3545;
}

.bi-instagram {
    color: hotpink;
}

.meta,
.insta,
.yt {
    color: black;
}